.InfoDrawer {
    z-index: auto;
}

.InfoDrawer div {
    position: unset;
    border-radius: 16px;
}

.InfoDrawer .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px 0px;
    color: #ccc;
}

.InfoDrawer .header button svg{
    color: #ccc;
}