/* index.css or App.css */

body, html, #root {
  height: 100%;
  margin: 0;
}

.main-content {
  padding: 20px;
  background-color: #1C1C1E;
  min-height: 100vh;
  margin-left: 72px;
  color: white;
}